.DS_Store
.env
.idea/
db.sqlite3
apps/__pycache__/
apps/auth_reg/__pycache__/
apps/auth_reg/migrations/__pycache__/
apps/swagger/__pycache__/
apps/swagger/migrations/__pycache__/
apps/users/__pycache__/
apps/users/migrations/__pycache__/
config/__pycache__/
apps/users/migrations/
apps/projects/__pycache__/
apps/projects/migrations/
apps/projects/planning/__pycache__/
apps/projects/planning/migrations/
apps/projects/planning/migrations/__pycache__/

